body,
html {
  margin: 0; /* Resets default margin */
  height: 100%; /* Ensures the body takes full viewport height */
  width: 100%; /* Ensures the body takes full viewport width */
}

.main {
  gap: 20px;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
  padding: 20px; /* Padding around the main container */
  box-sizing: border-box; /* Includes padding in the height calculation */
  display: grid;
  grid-template-columns: 450px 1fr;
}

.patient-filter {
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 20px;
  flex: 1;
  overflow-y: auto; /* Scroll if content is too tall */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.toggle-filter-button {
  background-color: #033e32; /* Red background for visibility */
  border: none;
  cursor: pointer;
  margin: 10px;
  z-index: 10;
}

.patient-search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
  outline: none; /* Removes the default focus outline */
}

.search-button {
  padding: 10px 15px;
  border: none;
  background-color: #4caf50; /* Green background */
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
}
.add-patient-button {
  padding: 10px 10px;
  margin-left: 5px;

  border: none;
  background-color: #4caf50; /* Green background */
  color: white;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners on the right side */
}
.search-button:hover {
  background-color: #45a049; /* Darker shade of green on hover */
}

.patient-list {
  list-style: none; /* Removes bullet points */
  padding: 0; /* Resets padding */
  margin: 0; /* Resets margin */
}

.patient-list-item {
  padding: 10px 0; /* Adds padding to each list item */
  border-bottom: 1px solid #eee; /* Adds a separator between items */
  cursor: pointer;
}

.selected {
  font-size: large;
  font-weight: 700;
}

.patient-list-item:last-child {
  border-bottom: none; /* Removes the border from the last item */
}

.image-view-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 20px;
  margin-left: 20px;
  overflow-y: hidden;
}
.image-container-wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.image-container {
  text-align: -webkit-center;
  position: relative; /* Needed for absolute positioning of image-info */
  flex: 1; /* Each image container will take up half the space */
}

.image {
  width: 100%; /* Image will fill the container */
  height: auto; /* Keep the aspect ratio */
  display: block; /* Removes bottom space under the image */
}

.divider {
  height: 100%; /* Ensure the divider stretches to the full height */
  width: 2px;
  background-color: #dedede;
  align-self: center; /* Center the divider */
  margin: 0 20px;
}

.image-info {
  text-align: left;
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(75, 70, 70); /* Grey text */
  font-size: 12px;
  z-index: 2; /* Ensures the info is above the image */
  pointer-events: none;
}

.select-image-text {
  width: 25vw;
  padding-top: 50%;
  padding-bottom: 50%;
}

.image-bar {
  display: flex;
  overflow-x: auto; /* Allows horizontal scrolling */
  margin: 10px 10px 0 10px; /* Spacing between images and the bar */
  width: 100%; /* Full width of the image view */
  height: 120px;
}

.past-image {
  width: 100px;
  height: auto;
  margin-right: 10px; /* Spacing between past images */
  cursor: pointer; /* Indicates clickable images */
}

.past-image:last-child {
  margin-right: 0; /* Removes margin from the last image */
}

.image-note {
  text-align: center;
  margin: 10px 0 0px; /* Reduce the bottom margin */
  font-size: 14px;
  color: #333;
}

.zoom-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.zoom-controls button {
  margin: 0 5px;
}

.user-info {
  position: absolute;
  right: 5%;
}

.image-bar-container {
  display: flex;
  align-items: center;
}

.image-bar {
  overflow-x: auto;
}

.upload-picture-wrapper {
  display: flex;
  flex: 3 1;
  border: 2px solid #dedede;
  border-radius: 5px;
  flex-direction: row;
}
.upload-picture {
  display: flex;
  margin: auto;
}

.upload-picture-button-1 {
  padding: 10px 10px;
  margin: auto;
}

.main-button {
  position: absolute;
  top: 5%;
  right: 3%;
}

.lesion-canvas {
  width: 250px;
  height: auto;
}

.react-transform-wrapper {
  width: 100% !important;
}
