.landing {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}


.button-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

button, .upload-picture {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.scaled-image {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    object-fit: cover;
}
